- content_for :nav_about, true
.marketing
  .page-header
    .h1
      Developer
  .row
    .col-lg-4
      %img.img-circle{:alt => "140x140", "data-src" => "holder.js/140x140", :src => "https://graph.facebook.com/jaehwa.han/picture?width=140&height=140", :style => "width: 140px; height: 140px;"}/
      %h2 Jaehwa Han
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      %p
        %a.btn.btn-default{:href => "https://facebook.com/jaehwa.han", :target => "_blank"} View details »
    .col-lg-4
      %img.img-circle{:alt => "140x140", "data-src" => "holder.js/140x140", :src => "https://graph.facebook.com/taekmin.kim/picture?width=140&height=140", :style => "width: 140px; height: 140px;"}/
      %h2 Taekmin Kim
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      %p
        %a.btn.btn-default{:href => "https://facebook.com/taekmin.kim", :target => "_blank"} View details »
    .col-lg-4
      %img.img-circle{:alt => "140x140", "data-src" => "holder.js/140x140", :src => "https://graph.facebook.com/beomki.lee/picture?width=140&height=140", :style => "width: 140px; height: 140px;"}/
      %h2 Beomki Lee
      %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
      %p
        %a.btn.btn-default{:href => "https://facebook.com/beomki.lee", :target => "_blank"} View details »

.marketing
  .page-header
    .h1
      Plugins
  .row.featurette
    .col-md-5
      %img.featurette-image.img-responsive{:alt => "500x500", "data-src" => "holder.js/500x500/auto", :src => "/animal_pics/old-theme.jpg"}/
    .col-md-7
      %h2.featurette-heading
        Old Theme for SNULife
        %span.text-muted developed by #{link_to "c0untd0wn", "https://www.facebook.com/beomki.lee", :target => "_blank"}.
        %p.lead manual #{link_to "click", "http://snulife.com/best/22246451", :target => "_blank"}
  .featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        Animal Theme for SNULife
        %span.text-muted developed by #{link_to "Corea", "https://www.facebook.com/CoreaHS", :target => "_blank"}.
        %p.lead manual #{link_to "click", "http://snulife.com/best/22248042", :target => "_blank"}
    .col-md-5
      %img.featurette-image.img-responsive{:alt => "500x500", "data-src" => "holder.js/500x500/auto", :src => "/animal_pics/zoo-theme.jpg"}/

