- content_for :nav_home, true

.jumbotron
  .container
    %h1 #{@users.count} Users signed
    %p Fully encrypted information

.well
  %pre
    = @users.map { |user| "#{user.email[0..4]}...#{user.email[-15..-1]}"}.join("\n")


