.animal-collection
  %hgroup.page-header
    %h3 내가 모은 동물들 
    %h5.text-muted 모든 동물들을 모아보세요
  %div{:style => "margin-left:-15px; margin-right:-15px;"}
  - i = 0
  - (0...30).each do |indx|
    .animal-badge
      - name = ""
      - if @taken[indx]
        - name = @collection[i].name
        %img.animal-badge-image.animal-badge-border.img-circle{:src => "/animal_pics/#{name}.jpg"}
        - i+=1 
      - else
        %img.animal-badge-image.animal-badge-border-gray.img-circle{:src => "/animal_pics/zoo-theme.jpg"}
      %p.animal-name.text-muted= name



